main .background {
    border: 2px solid black;
    background-color: rgba(250, 246, 246, 0.61);
}

main #calendar button {
  width: 100%;
  height: 100%;
  background: none;
  border: 0px solid black;
  cursor: pointer;
}

main #calendar button:hover {
  background-color: rgb(159, 226, 178);
  border: 2px solid black;
}

 main .calendar_link {
    font-family: Arial;
    font-size: 12px;
    text-align: center;
    color: #000000;
    text-decoration: none;
  }
  
 main .calendar_head {
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    width: 25px;
  }
  
 main .calendar_head_month {
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    width: 25px;
    background-color: #969696;
    color: #FFFFFF;
  }
  
 main .calendar_day {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 175px;
    height: 30px;
    color: #ffffff;
    background-color: #5e6974;
    
  }
  
main .title {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  font-size: 28px;
  padding: 2% 2% 2% 2%;
}

main .title button {
  border: 1px solid black;
  background: none;
  font-size: 28px;
}

main .title button:hover {
  background-color: rgb(159, 226, 178);
}

 main .calendar_entry {
    font-family: Arial;
    font-size: 14px;
    text-align: left;
    width: 175px;
    height: 100px;
    background-color: #ffffffe9;
    color: #d3d3d3;
    font-weight: bold;
    
  }
