/**
 * Stylesheet zur Klasse App: Hauptstylesheet der Anwendung.
 *
 * Hier sollten nur allgemeine Sachen stehen, die das Layout als Ganzes
 * betreffen. Also solche Dinge wie Schriftart, Schriftgrößen oder Farben.
 * Spezifische Angaben zur Listenübersicht oder dem Eingabeformular gehören
 * stattdessen in das jeweilige Stylesheet.
 */

/**** TODO: Stylesheet überarbeiten ****/

@import url('https://fonts.googleapis.com/css?family=Rubik');

/* ALLGEMEINES */
/**
body {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background-color: #FFFCFF;
  }
  button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
  }
  
  #header {
    padding: 10px;
    color: #d36c6c;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
  }
  #header button {
    background-color:#92a1d1;
  }
  #container {
    width: 770px;
  }
  #weekdays {
    width: 100%;
    display: flex;
    color: #247BA0;
  }
  #weekdays div {
    width: 100px;
    padding: 10px;
  }
  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .day:hover {
    background-color: #e8faed;
  }
  
  .day + #currentDay {
    background-color:#e8f4fa;
  }
  .event {
    font-size: 10px;
    padding: 3px;
    background-color: #58bae4;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
  .padding {
    cursor: default !important;
    background-color: #FFFCFF !important;
    box-shadow: none !important;
  }
  #newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
  }
  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  #eventTitleInput.error {
    border: 2px solid red;
  }
  #cancelButton, #deleteButton {
    background-color: #d36c6c;
  }
  #saveButton, #closeButton {
    background-color: #92a1d1;
  }
  #eventText {
    font-size: 14px;
  }
  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
  }
  **/
body {
    background-image: url(./img/background.png);
}

.tabs {
    overflow: hidden;
    margin-left: 3%;
    margin-right: 2%;
}

.tabs button {
    background-color: #f1f1f1;
    border-radius: 20px 20px 0px 0px;
    width: 20%;
    margin-right: 0.2%;
    float: left;
    cursor: pointer;
    margin-top: 0.8%;
    padding: 1% 1%;
    transition: 0.3s;
    border-bottom: 0px;

}

button:hover {
    background-color: rgb(159, 226, 178);
}
#reset:hover {
    background-color: rgb(159, 226, 178);
}


.background {
    border: 2px solid black;
    background-color: rgba(250, 246, 246, 0.61);
}

#calendar button {
  width: 100%;
  height: 100%;
  background: none;
  border: 0px solid black;
  cursor: pointer;
}

#calendar button:hover {
  background-color: rgb(159, 226, 178);
  border: 2px solid black;
}

  .calendar_link {
    font-family: Arial;
    font-size: 12px;
    text-align: center;
    color: #000000;
    text-decoration: none;
  }
  
  .calendar_head {
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    width: 25px;
  }
  
  .calendar_head_month {
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    width: 25px;
    background-color: #969696;
    color: #FFFFFF;
  }
  
  .calendar_day {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 175px;
    height: 30px;
    color: #ffffff;
    background-color: #5e6974;
    
  }
  
.title {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  font-size: 28px;
  padding: 2% 2% 2% 2%;
}

.title button {
  border: 1px solid black;
  background: none;
  font-size: 28px;
}

.title button:hover {
  background-color: rgb(159, 226, 178);
}

  .calendar_entry {
    font-family: Arial;
    font-size: 14px;
    text-align: left;
    width: 175px;
    height: 100px;
    background-color: #ffffffe9;
    color: #d3d3d3;
    font-weight: bold;
    
  }

  body {
    margin-top: 50px;
    justify-content: center;
    background-color: #1f2633;
  }
  /**
.form {
  background-color: #ffffffe9;
  width:20%;
  height: 270px;
  border: 1px solid black;
  margin-top: 1em;
  margin-bottom: 1em;
}**/
.form-container{
  text-align: left;
  margin: 1em;
  
}

.openform{ 
  width: 10%;
  height: 35px;
  position: absolute;
  top: 25.5%;
  left: 85%;
  border-radius: 5px;
  border: 2px solid rgb(68, 68, 68);
  color: #5e6974;
  background-color: white;
  
}

#form {
  
  width: 400px;
  height: 270px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -150px; 
 

  background-color: rgb(231, 231, 231);
  border: 1px solid rgb(0, 0, 0);
}
 

  