
body {
    background-image: url(../img/background.png);
}


.tabs button:hover {
    background-color: rgb(159, 226, 178);
}

.tabs {
    overflow: hidden;
    margin-left: 3%;
    margin-right: 2%;
}

.tabs button {
    background-color: #bebebe52;
    border-radius: 20px 20px 0px 0px;
    width: 20%;
    margin-right: 0.2%;
    float: left;
    cursor: pointer;
    margin-top: 0.8%;
    padding: 1% 1%;
    transition: 0.3s;
    border-bottom: 0px;

}


.content {
    background-color: rgba(250, 246, 246, 0.61);
    padding: 1%;;
    height: 100%;
}

.content label {
    border: none;
    background: none;
    width: 25%;
}

.content button {
    border: none;
    background: none;
    transition: 0.3s;
    cursor: pointer;
    width: 25%;
}

.content button:hover {
    background-color: #ccc;
}

.content table { 
    background-color: lightblue;
    color: black;
    border: solid black;
    padding: 0em 0em 0em 0em;
}

.content2 table { 
    background-color: lightblue;
    color: black;
    padding: 0em 4em 0em 0em;
}

.box {
    float: left;
    width: 45%;
    margin-right: 3.33333%;
    padding: 20px;
    background: none;
    box-sizing: border-box;
}

a:link, a:visited {
    text-decoration: none;
   }

.box2 {
    float: right;
    width: 45%;
    margin-right: 0;
    padding: 20px;
    background: none;
    box-sizing: border-box;
}

#icon {
    width: 10px;

}

#icon2 {
    width: 10px
}

#termin{
    width: 90%

}

#uhrzeit{
    width: 10%
}

.underTabs button {
    background-color: #f1f1f1;
    width: 100%;
    float: left;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
    border-top: none;
    border-right: none;
    border-left: none;
    height: 35px;

}

.background {
    border: 2px solid black;
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgba(250, 246, 246, 0.61);
}
